/* default values (iPhone 5c) */ 

.frame_block {
    width : 100%;
    }

.frame_column {
    width           : 290px;
    float           : left;
    margin          : 4px;
    padding         : 5px;
    border-radius   : 5px;
    background-color: #dddddd;
    opacity         : 0.9;
    font-family     : sans-serif;
    font-size       : 12px;
    }

.frame_column.test {
    border          : solid 1px;
    border-color    : black;
    }
   
.frame_column.wide {}

.setting_bg {
    width           : 290px;
    float           : left;
    margin          : 4px;
    padding         : 5px;
    border-radius   : 5px;
    background-color: #cccccc;
    opacity         : 0.9;
    font-family     : sans-serif;
    font-size       : 12px;
    }

.setting_bg.header {
    background-color: #bbbb99;
    display         : flex;
    justify-content : center;
    align-items     : center;
    }

.setting_bg.wide {}

.setting_bg_inside {
    width           : auto;
    margin          : auto;
    }

.settings_button_index {
    width           : 48%;
    height          : 120px;
    margin          :   1%;
    padding         :   5px;
    float           :  left;
    background      : #333399;
    border          : solid 2px #5555AA;
    }

.settings_button_index.info {
    background      : #111122;
    border          : solid 0px #5555AA;
    cursor          : default;
    }

.settings_button_index.header {
    width           : 60px;
    height          : 40px;
    margin          :  2px;
    border          : 1px solid gray;
    }

.settings_button_index.selected {
    border          : 1px solid white;
    }

.settings_icon_big {
    max-width       : 100px;
    max-height      :  50px;
    }

.settings_icon_small {
    max-width       : 45px;
    max-height      : 28px;
    }

.setting_headline {
    margin          : 6px;
    font-size       : 16px;
    }

.setting_line {
    width           : 98%;
    height          : 2px;
    margin          : 6px;
    margin-bottom   : 12px;
    border          : 1px solid white;
    }