/* dark scheme */

@media (prefers-color-scheme: dark) {

    :root {
        --app-frame-background: #444444;
        --app-frame-text: #eeeeee;
        --app-frame-border: black;

        --app-setting-text: #eeeeee;
        --app-setting-background: #333333;
        --app-setting-header-background: #222222;
        --app-setting-header-background-empty: #111111;
        --app-setting-line: white;
    }
}


