/* selected formats for iPhones and iPads (see list of resolutions: https://iosref.com/res */

#iphone_xs_portrait   { display : none; } /* iPhone X/XS/11/12m/13m */
#iphone_xs_landscape  { display : none; }
#iphone_se1_portrait  { display : none; } /* iPhone 5/SE1 */
#iphone_se1_landscape { display : none; }
#iphone_se2_portrait  { display : none; } /* iPhone 6/7/8/SE2/SE3 */
#iphone_se2_landscape { display : none; }
#iphone_se3_portrait  { display : none; } /* iPhone 6/7/8/SE2/SE3 */
#iphone_se3_landscape { display : none; }
#iphone_16p_portrait  { display : none; } /* iPhone 16pro */
#iphone_16p_landscape { display : none; }

@media only screen and (device-width : 375px) and (device-height : 812px) and (orientation : portrait)  {
    #iphone_xs_portrait { display : block; }
    #default_display { display : none; }
    }
@media only screen and (device-width : 375px) and (device-height : 812px) and (orientation : landscape) {
    #iphone_xs_landscape { display : block; }
    #default_display { display : none; }
}
@media only screen and (device-width : 320px) and (device-height : 568px) and (orientation : portrait)  {
    #iphone_se1_portrait { display : block; }
    #default_display { display : none; }
    }
@media only screen and (device-width : 320px) and (device-height : 568px) and (orientation : landscape) {
    #iphone_se1_landscape { display : block; }
    #default_display { display : none; }
    }
@media only screen and (device-width : 375px) and (device-height : 667px) and (orientation : portrait)  {
    #iphone_se2_portrait { display : block; }
    #default_display { display : none; }
    }
@media only screen and (device-width : 375px) and (device-height : 667px) and (orientation : landscape) {
    #iphone_se2_landscape { display : block; }
    #default_display { display : none; }
    }
@media only screen and (device-width : 375px) and (device-height : 667px) and (orientation : portrait)  {
    #iphone_se3_portrait { display : block; }
    #default_display { display : none; }
    }
@media only screen and (device-width : 375px) and (device-height : 667px) and (orientation : landscape) {
    #iphone_se3_landscape { display : block; }
    #default_display { display : none; }
    }
@media only screen and (device-width : 402px) and (device-height : 874px) and (orientation : portrait) {
    #iphone_16p_portrait { display : block; }
    #default_display { display : none; }
    }
@media only screen and (device-width : 402px) and (device-height : 874px) and (orientation : landscape) {
    #iphone_16p_landscape { display : block; }
    #default_display { display : none; }
    }

/* ------------------------------------------------ */

#ipad_portrait      { display : none; }
#ipad_landscape     { display : none; }
#ipad_air_portrait  { display : none; }
#ipad_air_landscape { display : none; }

@media only screen and
    (device-width : 820px) and (device-height : 1180px) and (orientation : portrait) {
    #ipad_air_portrait { display : block; }
    #default_display { display : none; }
    }
@media only screen and
    (device-width : 820px) and (device-height : 1180px) and (orientation : landscape) {
    #ipad_air_landscape { display : block; }
    #default_display { display : none; }
    }
@media only screen and
    (device-width : 810px) and (device-height : 1080px) and (orientation : portrait) {
    #ipad_portrait { display : block; }
    #default_display { display : none; }
    }
@media only screen and
    (device-width : 810px) and (device-height : 1080px) and (orientation : landscape) {
    #ipad_landscape { display : block; }
    #default_display { display : none; }
    }
