/* Element for theme check */

#theme_check {
	visibility 		: hidden;
	background-color	: white;
	}

/* height of app start screen */

.app_background {
	height: 100vh;
	}

/* buttons */

button {
	background      : #000044;
	color           : white;
	height          : 30px;
	overflow        : hidden;
	border-radius   : 5px;
	font-size       : 12px;
	}


