/* adapted format for Laptop & Bigger - 2 columns incl. menu*/

@media (min-width: 705px) {
  .frame_column.wide { width  : 660px; }
  .setting_bg.wide   { width  : 660px; }
  .setting_bg.header { width  : 660px; }
  .setting_bg_inside { width  : 640px; margin : auto; }
  }

/* adapted format for Laptop & Bigger - 3 columns incl. menu*/

@media (min-width: 1250px) {
  .frame_column.wide { width  : 990px; }
  .setting_bg.wide   { width  : 990px; }
  .setting_bg.header { width  : 990px; }
  .setting_bg_inside { width  : 970px; margin : auto; }
  }
