/* dark scheme for iPhone / Mac etc. */

@media (prefers-color-scheme: dark) {

    :root {
        --menu-default-font: sans-serif;

        --menu-nav-background: #000000;
        --menu-nav-border-top: darkgray;
        --menu-nav-shadow: rgba(0, 0, 0, 0.25);
        --menu-nav-title: #999999;
        --menu-nav-audio: #666666;
        --menu-nav-link: #dddddd;
        --menu-nav-info-text: #333333;
    }


    /* drop down menu - from rm_menu.css */

    nav-info              	{ opacity     : 0.7; }
    .hidden_entry_edit 		{ color  : yellow; }
}
