/* dark scheme */

@media (prefers-color-scheme: dark) {

    .frame_column {
        background-color: #444444;
        color:            #eeeeee;
        }

    .frame_column.wide {}


    .setting_bg {
        background-color: #333333;
        color:            #eeeeee;
        }

    .setting_bg.header {
        background-color: #222222;
        color:            #eeeeee;
        }

    .setting_bg.header.empty2 {
        background-color: #111111;
        }

    .setting_bg.wide {}

}


