    /* dark scheme */

@media (prefers-color-scheme: dark) {

/* Element for theme check */

#theme_check {
	background-color	: black;
	display		: none;
	color			: black;
	}

/* default elements */

  img        { opacity: .75;   transition: opacity .5s ease-in-out; }
  img:hover  { opacity: 1; }
  body       { background: #111111; }
  hr         { border: #444444 solid 1px; }

  .loading_overlay { background: #111111; border: solid 0px #111111; }
}
