/* adapted format for Laptop & Bigger - 2 columns incl. menu*/

@media (min-width: 705px) {
  .frame_column.wide        { width  : 660px; }
  .setting_bg.wide          { width  : 660px; }
  .setting_bg.header        { width  : 660px; }
  .setting_bg_inside        { }
  .settings_button_index    { margin : 0.5%; width  : 32.3%; height : 140px; }
  .settings_icon_big        { max-width : 120px; max-height : 60px; }
  }

/* adapted format for Laptop & Bigger - 3 columns incl. menu*/

@media (min-width: 1250px) {
  .frame_column.wide        { width  : 990px; }
  .setting_bg.wide          { width  : 990px; }
  .setting_bg.header        { width  : 990px; }
  .setting_bg_inside        { }
  .settings_button_index    { margin : 0.5%; width  : 24%; height : 150px; }
  .settings_icon_big        { max-width : 140px; max-height : 80px; }
  }
