/* Hint: default values are defined for iPhone 5c and have to be adapted based on device size in the other CSS files */

:root {
    --app-frame-background: #dddddd;
    --app-frame-text: #111111;
    --app-frame-border: black;

    --app-setting-text: white;
    --app-setting-background: #cccccc;
    --app-setting-header-background: #bbbb99;
    --app-setting-header-background-empty: white;
    --app-setting-line: white;

    --app-setting-tile: #333399;
    --app-setting-tile-border: #5555AA;
    --app-setting-tile-info: #111122;
    --app-setting-tile-info-border: #5555AA;
    --app-setting-tile-header-border: gray;
    --app-setting-tile-header-border-selected: white;

    --app-dashboard-text: #ffffee;
    --app-dashboard-default: #333399;
    --app-dashboard-default-border: #5555AA;
    --app-dashboard-blue: #333399;
    --app-dashboard-blue-border: #5555AA;
    --app-dashboard-red: #993333;
    --app-dashboard-red-border: #AA5555;
    --app-dashboard-orange: #996644;
    --app-dashboard-orange-border: #AA8855;
    --app-dashboard-green: #339933;
    --app-dashboard-green-border: #55AA55;
    --app-dashboard-gray: #3C3C3C;
    --app-dashboard-gray-border: #555555;
    --app-dashboard-offline: #3C3C3C;
    --app-dashboard-offline-border: #555555;
    --app-dashboard-ok: #448844;
    --app-dashboard-ok-border: #55AA55;
    --app-dashboard-warn: #AA7744;
    --app-dashboard-warn-border: #AA8855;
    --app-dashboard-alarm: #993333;
    --app-dashboard-alarm-border: #AA5555;
}

* FRAME ELEMENTS --------------------------------- */

.frame_block {
    width : 100%;
    }

.frame_column {
    background-color: var(--app-frame-background);
    color           : var(--app-frame-text);

    width           : 290px;
    float           : left;
    margin          : 4px;
    padding         : 5px;
    border-radius   : 5px;
    opacity         : 0.9;
    font-family     : sans-serif;
    font-size       : 12px;
    }

.frame_column.test {
    border          : solid 1px var(--app-frame-border);
    }
   
.frame_column.wide {}

/* SETTINGS BACKGROUND ELEMENTS --------------------------------- */

.setting_bg {
    background-color: var(--app-setting-background);
    width           : 290px;
    float           : left;
    margin          : 4px;
    padding         : 5px;
    border-radius   : 5px;
    opacity         : 0.9;
    font-family     : sans-serif;
    font-size       : 12px;
    }

.setting_bg.header {
    background-color: var(--app-setting-header-background);
    width           : 290px;
    display         : none;
    position        : fixed;
    justify-content : center;
    align-items     : center;
    z-index         : 89;
    }

.setting_bg.header.empty {
    background-color: unset;
    border          : 0px;
    min-height      : 44px;
    position        : unset;
    justify-content : center;
    align-items     : center;
    z-index         : 0;
    }

.setting_bg.header.empty2 {
    background-color: var(--app-setting-header-background-empty);
    border          : 0px;
    height          : 105px;
    width           : 100%;
    position        : fixed;
    top             : 0;
    left            : 0;
    justify-content : center;
    align-items     : center;
    z-index         : 84;
    }

.setting_bg.wide {}

.setting_bg_inside {
    width           : auto;
    margin          : auto;
    }

/* SETTINGS TILE ELEMENTS --------------------------------- */

.settings_button_index {
    width           : 48%;
    height          : 120px;
    margin          :   1%;
    padding         :   5px;
    float           :  left;
    background      : var(--app-setting-tile);
    border          : solid 2px var(--app-setting-tile-border);
    border-radius   : 6px;

    justify-content : center;
    align-items     : center;
    cursor          : pointer;
    overflow        : hidden;
    position        : relative;
    font-size       : 12px;
    display         : flex;
     flex-direction: column;
    }

.settings_button_index.info {
    background      : var(--app-setting-tile-info);
    border          : solid 2px var(--app-setting-tile-info-border);
    cursor          : default;
    }

.settings_button_index.header {
    width           : 60px;
    height          : 40px;
    margin          :  2px;
    border          : 1px solid var(--app-setting-tile-header-border);
    }

.settings_button_index.header.invisible {
    border          : 0px;
    margin          : 3px;
    background      : unset;
    }

.settings_button_index.selected {
    border          : 1px solid var(--app-setting-tile-header-border-selected);
    }

.settings_icon_big {
    max-width       : 100px;
    max-height      :  50px;
    }

.settings_icon_small {
    max-width       : 45px;
    max-height      : 28px;
    }

.setting_headline {
    margin-top      : 6px;
    margin-bottom   : 12px;
    font-size       : 16px;
    }

.setting_line {
    width           : 98%;
    height          : 2px;
    border          : 1px solid var(--app-setting-line);
    margin          : 6px;
    margin-bottom   : 12px;
    }

/* DASHBOARD ITEMS --------------------------------- */

.dashboard_item {
    background      : var(--app-dashboard-default);
    color           : var(--app-dashboard-text);

    width           :   30%;
    margin          :  0.5%;
    height          :  90px;
    padding         :   3px;
    float           :  left;
    border          : solid 2px var(--app-dashboard-default-border);
    border-radius   : 5px;
    overflow        : hidden;
    }

.dashboard_item.default {
    background: var(--app-dashboard-default);
    border: solid 2px var(--app-dashboard-default-border);
}

.dashboard_item.blue {
    background: var(--app-dashboard-blue);
    border: solid 2px var(--app-dashboard-blue-border);
}

.dashboard_item.red {
    background: var(--app-dashboard-red);
    border: solid 2px var(--app-dashboard-red-border);
}

.dashboard_item.orange {
    background: var(--app-dashboard-orange);
    border: solid 2px var(--app-dashboard-orange-border);
}

.dashboard_item.green {
    background: var(--app-dashboard-green);
    border: solid 2px var(--app-dashboard-green-border);
}

.dashboard_item.gray {
    background: var(--app-dashboard-gray);
    border: solid 2px var(--app-dashboard-gray-border);
}

.dashboard_item.offline {
    background: var(--app-dashboard-offline);
    border: solid 2px var(--app-dashboard-offline-border);
}

.dashboard_item.ok {
    background: var(--app-dashboard-ok);
    border: solid 2px var(--app-dashboard-ok-border);
}

.dashboard_item.warn {
    background: var(--app-dashboard-warn);
    border: solid 2px var(--app-dashboard-warn-border);
}

.dashboard_item.alarm {
    background: var(--app-dashboard-alarm);
    border: solid 2px var(--app-dashboard-alarm-border);
}


.dashboard_content {
    color           : var(--app-dashboard-text);
    font-size       : 12px;
    width           : 100%;
    padding         : 3px;
    float           : left;
    text-align      : center;
    }

.dashboard_content.title        {}
.dashboard_content.value        { font-size : 36px; font-weight: bold; color : var(--app-dashboard-text); line-height: 1.1;  }
.dashboard_content.description  { font-style: italic; }

@media (max-width: 706px)   {
    .dashboard_item             { width : 29.5%; height : 70px; }
    .dashboard_content          { font-size :  8px; }
    .dashboard_content.title    { font-size : 10px; }
    .dashboard_content.value    { font-size : 23px; }
    }
@media (min-width: 1250px)  {
    .dashboard_item { width : 22.5%; }
    }