/* Status LED */

#statusLED {
	position	: fixed;
	top      	: 7px;
	right    	: 10px;
        z-index  	: 93;
	}
	
#statusLEDload {
	position 	: fixed;
	top      	: 2px;
	right    	: 5px;
	display  	: none;
	z-index  	: 93;
	}

#statusLEDload img {
	height 	: 34px;
	width  	: 34px;
	}


#close {
	width		: 25px;
	height		: 25px;
	background	: black;
	color		: white;
	border		: 2px solid gray;
	position	: absolute;
	top		: 0px;
	right		: 0px;
	cursor		: pointer;
	}



#green {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: 1px solid green;
      background: #90EE90;
      margin: 6px;
    }

#yellow {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: 1px solid yellow;
      background: yellow;
      margin: 6px;
    }

#red {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: 1px solid red; 
      background: red;
      margin: 6px;
    }

#blue {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: 1px solid lightblue; 
      background: blue;
      margin: 6px;
    }

#gray {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: 1px solid #666666; 
      background: #333333;
      margin: 6px;
    }


