/* dark scheme for iPhone / Mac etc. */

@media (prefers-color-scheme: dark) {

/* Element for theme check */

#theme_check {
	background-color	: black;
	display		: none;
	color			: black;
	}

/* default elements */

  img        { opacity: .75;   transition: opacity .5s ease-in-out; }
  img:hover  { opacity: 1; }
  body       { background: #111111; }
  hr         { border: #444444 solid 1px; }
  }
  

/* elements from rm_settings.css */

}
